<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="teamHyd" class="com.spring.beans.TeamSRH"></bean>
	<!-- 
	<bean id="teamMumbai" class="com.spring.beans.TeamMI"></bean>
	<bean id="teamDelhi" class="com.spring.beans.TeamDC"></bean> 
	-->
	
	<import resource="teamMI.xml"/>
	<import resource="teamDC.xml"/>

</beans> 